@font-face { font-family: "Roboto"; src: url(../Font/Roboto-Regular.ttf)  format("truetype");}
::-webkit-scrollbar {     display: none; }
::selection{ color: #010a13; background: #ebdec4}
@media screen and (max-width: 1200px) {
.Col-right .col-right-2{ display:none;}
.Col-right .col-right-1{ width:100%;}
.footer-2{ display:none !important;}
}
body{ margin:0 auto; position:relative; font-family:roboto; background-image:url(../Imgs/Source%20Img/Main%20BG.png); width:100%; height:100%;color:#dfc692;}
.Col-left{ width:0%; float:left; text-decoration:none; display:block; height:980px; overflow:scroll; line-height:21px; background-image:url(../Imgs/Source%20Img/Col-left-BG.png); color:#dfc692;}
.Col-right{ width:100%; float:right; display:block; border-left:solid 1px #27261d; box-sizing:border-box;}
.Menu{ list-style:none; padding-left:20px;}
.Menu-last{ list-style:none; padding-left:20px; padding-bottom: 30px;}
.list{ padding-left:15px;}
.Menu-title, .list{ cursor:pointer; display:block;}
.Menu-title-2, .Menu-title{ display:block;color: #ebdec4}
.panel{ display:block}
.footer{ display:block; position:fixed; width:100%; z-index:999; bottom:0px; background-image:url(../Imgs/Source%20Img/footer%20bg.png); color:#73725f; height:25px; padding-top:5px; border-top:solid 1px #73725f;}
.footer-1{ display:block; float:left; padding-left:15px;}
.footer-2{ display:block; float:right; padding-right:15px;}
.Col-left::-webkit-scrollbar-track{	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);	border-radius: 10px;	background-color: #73725f;}
.Col-left::-webkit-scrollbar{	width: 1px;	background-color: #73725f;}
.Col-left::-webkit-scrollbar-thumb{	border-radius: 10px;	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);	background-color: #73725f;}
.col-right-1{ display:block; width:85%; float:left;}
.col-right-2{ display:block; width:14.9%; float:left; background-color:#010a13; height:990px; border-left:solid 1px #73725f; overflow:scroll;}
h3{ display:block; margin-left:20px; text-transform:uppercase}
p{ display:block; margin-left:35px;}
object{ width:100%; height:960px;}
strong{ color:#27e1fc;}
.version{ font-size:11px; margin-left:10px;}
.expand-menu{ position:absolute; left:15% ;border:solid 1px #27261d; background-color:#10171f; padding:8px; font-weight:700; font-size:11px; z-index:999; color:#dfc692; display:none; cursor:pointer; position:fixed;}
.close-menu{ position:absolute; left:15% ;border:solid 1px #27261d; background-color:#10171f; padding:8px; font-weight:700; font-size:11px; z-index:998; color:#dfc692; display:none; cursor:pointer; position:fixed;}
.Game-index-button{ border:solid 1px #06798a; display:block; margin-bottom:10px; background-color:#10171f; display:block; position:fixed; top: 30px; left: -145px; cursor:pointer; padding: 10px; font-size:13px; background-image:url(../Imgs/Source%20Img/footer%20bg.png); background-position: center; transition: left 0.2s;}
.Game-index-button:hover, .Home-button:hover { left:0px;}
.Home-button{ display:none; border:solid 1px #06798a; margin-bottom:10px; background-color:#10171f; position:fixed; top: 30px; left: -124px; cursor:pointer; padding: 10px; font-size:13px; background-image:url(../Imgs/Source%20Img/footer%20bg.png); background-position: center; transition: left 0.2s;}
